body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color:#333
}
.ancho50{
    width: 50%;
    background-color: aqua;
    border: #333 solid 2px;
    height: 200px;
    margin-bottom: 20cm;
}
p{
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.padding{
    width: 80%;
    padding: 20px 40px;
    background-color: beige;
    border: #333 solid 2px;
    margin-bottom: 40px;
    box-shadow: #999 5px 5px 10px;
}

#caja{
    width: 200px;
    height: 200px;
    border: #333 solid 2px;
    background-color: cadetblue;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    border: #999 dotted 1px;
}

#caja2{
    width: 500px;
    height: 200px;
    border: #333 solid 2px;
    background-color: #eaace7;
}

.menu-nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.menu-nav a{
    text-decoration: none;
    padding: 12px 20px;
    color: #fff;
    transition: ;
}

.menu-nav a:hover{
    background-color: #565555;
    color: #eaace7;

}